In [1]:
import sys
import os
import re
import string
import pandas as pd
import numpy
# import tensorflow as tf
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dense, LSTM, Dropout, Embedding
# from tensorflow.keras.preprocessing import sequence
# import numpy as np
import psycopg2
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')
# from imblearn.over_sampling import RandomOverSampler # TIP: If error occurs, restart kernal
# from keras.preprocessing.text import Tokenizer
# from tensorflow.keras.layers import TextVectorization
# from keras.preprocessing.text import text_to_word_sequence

In [2]:
%load_ext sql

In [3]:
# Format
# %sql dialect+driver://username:password@host:port/database
# Example format
%sql postgresql://postgres:postgres@localhost/proj_4

In [4]:
# engine = create_engine('postgresql://postgres:postgres@localhost/proj_4')
engine = psycopg2.connect('postgresql://postgres:postgres@localhost/proj_4')

In [5]:
cars_df = pd.read_sql('select * from used_cars', engine)
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88268 entries, 0 to 88267
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         88268 non-null  float64
 1   year          88268 non-null  int64
 2   manufacturer  88268 non-null  object
 3   condition     88268 non-null  object
 4   cylinders     88268 non-null  object
 5   odometer      88268 non-null  float64
 6   title_status  88268 non-null  object
 7   transmission  88268 non-null  object
 8   size          88268 non-null  object
 9   state         88268 non-null  object
 10  posting_date  88268 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 7.4+ MB